    @-webkit-keyframes zhuan {
      0% {
        transform:rotate(0deg);
        -ms-transform:rotate(0deg);
        -moz-transform:rotate(0deg);
        -webkit-transform:rotate(0deg);
        -o-transform:rotate(0deg)
      }
      50% {
        transform:rotate(-90deg);
        -ms-transform:rotate(-90deg);
        -moz-transform:rotate(-90deg);
        -webkit-transform:rotate(-90deg);
        -o-transform:rotate(-90deg)
      }
      100% {
        transform:rotate(0deg);
        -ms-transform:rotate(0deg);
        -moz-transform:rotate(0deg);
        -webkit-transform:rotate(0deg);
        -o-transform:rotate(0deg)
      }
    }

html,body{
  height:100%;
}
body {
  margin: 0 auto;
  min-width: 320px;
  width:100%;
  height: 100%;
  font-size: 14px;
  font-family: Microsoft YaHei, Helvetica, STHeiti STXihei, Microsoft JhengHei,Arial;
  line-height: 1.5;
  color: #666;
  -webkit-text-size-adjust: 100%;
  -webkit-user-select: none;
  user-select: none;
  overflow:hidden;
  display:block;
  background-color: #000;
}


.fontsize32{font-size: 32px;}
.fontsize25{font-size: 25px;}
.fontsize12{font-size: 12px;}
.fontsize20{font-size: 20px;}
.coloryellow{color: #ffea00}
.colorwhite{color: #ffffff}
.paddingtop60{padding-top: 60px;}
.paddingtop30{padding-top: 30px;}
.tl-c{text-align: center;}
.margintop2{margin-top: 2px;}


.swiper-container {
  width: 100%;
  height: 100%;
  color: #000;
  text-align: left;
  display:block;
  overflow:hidden;
}

.swiper-slide{position:relative;width: 100%;height: 100%;}
/*.swiper-slide p {
  font-style: italic;
  width:100%;
  margin:0 auto;
  font-weight:bold;
  font-size:36px;
}*/

.pageone{background:url(../images/bg_1.jpg) no-repeat center top;background-size:cover;}
.pageone .text{display: inline-block;
  width:22px;font-size: 20px;
  padding:22px 0 0 24px;line-height: 120%;
  color:red;height:0px;overflow: hidden;
  position: absolute;
  top: 0;
}
.pageone .chuanqi{position: absolute;top:167px;left:57px;}
.pageone .logo{position: absolute;right:14px;bottom: 14px;}

.pagetwo,.pagethree{background:#730913 url(../images/p2-1.png) no-repeat center center;background-size:cover;}
.pagetwo .join{position: absolute;left: 41px; top:36px;}

.pagetwo .tum{
  position: absolute;
  bottom:0;
  width: 100%;
  height: 38px;
  background-color:#49161d;
  color: #fff;
  text-align: center;
  line-height: 38px;
  font-size: 12px;
}
.pagetwo .pic{
  position: absolute;
  bottom:38px;
  left: 20px;
}
.pagethree p{
  font-size: 15px;
  text-align: center;
  color: #fff;
  font-style: normal;
  padding-bottom: 20px;
}
.pagethree .inner{
  background:url(../images/p3-1.png) no-repeat right bottom;
  background-size:106px auto;
  height: 100%;
}
.pagethree #Html5Video{margin: 0 auto;display: block;width: 90%;}

.pagefour,.pagefive{background:#4055a4 url(../images/p4-1.png) no-repeat center center;background-size:cover;}
.pagefour .tum{background-color: #252760;}
.pagefour .snow{
  position: absolute;
  right:-16px;
  top:108px;
}
.pagefour .snow1{
  position: absolute;
  left:69px;
  top:165px;
}
.pagefour .snow2{
  position: absolute;
  left:98px;
  bottom:158px;
}
.pagefour .person{
  position: absolute;
  left:0px;
  bottom:0px;
}

.pagefour .snow3{
  position: absolute;
  right:-25px;
  bottom:45px;
}

.pagefive{
  color: #fff;
}
.pagefive div.text{
  text-align: center;
  padding-top: 20px;
}
.pagefive div.text p{padding-bottom: 10px;}

.pagefive .snow{
  top:133px;
}
.pagefive .snow3{
  right:42px;
}

.pagefive .snow4{
  position: absolute;
  left:-121px;
  bottom: 72px;
}
.pagefive .notice{
  position: absolute;
  text-align: center;
  bottom: 25px;
  width: 100%;
}

.pagefive .more{
  position: absolute;
  bottom:168px;
  left: 160px;
  color:#4055a4;
  font-size: 20px;
}


.pagesix{background:#f3af00 url(../images/p6-1.png) no-repeat center center;background-size:cover;}
.pagesix .tum{
  background-color: #9d4d1e;
}
.pagesix .lion{
  position: absolute;
  left: 0;
  bottom:38px; 
}
.pagesix .title{
  position: absolute;
  top:57px;
  left:32px;
}

.pageseven{background:#f3af00 url(../images/p7-1.png) no-repeat center center;background-size:cover;}
.pageseven img{margin:0 auto;display:block;}
.pageseven .pic1{margin-top: 40px;}
.pageseven .pic2{margin-top:30px;}
.pageseven .pic3{margin-top:25px;}
.pageseven .pic4{margin-top:40px;}

.pageseven .pr span{
  position: absolute;
  color: #fff;

}

.pageseven .pr span.txt1{
  top:360px;
  left: 25px;
  transform:rotate(10deg);
  -ms-transform:rotate(10deg); /* IE 9 */
  -moz-transform:rotate(10deg); /* Firefox */
  -webkit-transform:rotate(10deg); /* Safari and Chrome */
  -o-transform:rotate(10deg); /* Opera */
}

.pageseven .pr span.txt2{
  top:400px;
  left:15px;
}

.pageseven .pr span.txt3{
  top:440px;
  left:25px;
  transform:rotate(-10deg);
  -ms-transform:rotate(-10deg); /* IE 9 */
  -moz-transform:rotate(-10deg); /* Firefox */
  -webkit-transform:rotate(-10deg); /* Safari and Chrome */
  -o-transform:rotate(-10deg); /* Opera */
}

.pageseven .pr span.txt4{
  top:360px;
  right: 25px;
  transform:rotate(-10deg);
  -ms-transform:rotate(-10deg); /* IE 9 */
  -moz-transform:rotate(-10deg); /* Firefox */
  -webkit-transform:rotate(-10deg); /* Safari and Chrome */
  -o-transform:rotate(-10deg); /* Opera */
}

.pageseven .pr span.txt5{
  top:400px;
  right:15px;
}

.pageseven .pr span.txt6{
  top:440px;
  right:25px;
  transform:rotate(10deg);
  -ms-transform:rotate(10deg); /* IE 9 */
  -moz-transform:rotate(10deg); /* Firefox */
  -webkit-transform:rotate(10deg); /* Safari and Chrome */
  -o-transform:rotate(10deg); /* Opera */
}

.pageight{background:#3b1a68 url(../images/p8-1.png) no-repeat center center;background-size:cover;}
.pageight .tum{background-color: #25183c;}
.pageight .snowhite1{
  position: absolute;
  bottom: 78px;
  left: 72px;
}
.pageight .snowhite2{
  position: absolute;
  bottom: 47px;
  left: 18px;
}

.pagenine{background:#3b1a68 url(../images/p9-1.png) no-repeat center center;background-size:cover;}
.pagenine .team{width: 100%;height: 124px;background:url(../images/p9-4.png) no-repeat center center;background-size:320px auto;margin-top: 13px;}
.pagenine .txt,.pagenine .team img{display:block;margin:0 auto;}
.pagenine .txt{margin-top: 60px;}

.pageten{background:#226f2e url(../images/p10-1.png) no-repeat center center;background-size:cover;}
.pageten .tum{background-color: #194028;}
.pageten .mulan{
  position: absolute;
  bottom: 52px;
  left: 4px;
}

.pageten .join{top: 25px;}
.pageten .track{
  background:url(../images/p10-5.png) repeat-x;
  height: 29px;
  background-size:54px 29px;
  position: absolute;
  bottom: 40px;
  width:300px;  
}

.pageleven{background:#226f2e url(../images/p11-1.png) no-repeat center center;background-size:cover;}
.pageleven .step1{
  width: 100%;
  height: 129px;
  background:url(../images/p11-3.png) no-repeat center center;background-size:303px auto;
}
.pageleven .step2{
  width: 100%;
  height: 123px;
  background:url(../images/p11-4.png) no-repeat center center;background-size:303px auto;
}
.pagend{background:#fff url(../images/p12-1.jpg) no-repeat center center;background-size:cover;}
.pagend .txt{
  position: absolute;
  left: 0;
  bottom:30%;
}

.slide-btn {
position: absolute;
bottom:30px;
width: 100%;
text-align: center;
font-size: 20px;
display: none;
z-index: 1020;
-webkit-animation-name: shake;
-webkit-animation-duration: 4s;
-moz--name: shake;
-moz-animation-duration: 4s;
animation-iteration-count: infinite;
-webkit-animation-iteration-count: infinite;
-moz-animation-iteration-count: infinite;
animation-timing-function: linear;
}
@-webkit-keyframes shake {  
    0%,100% {-webkit-transform: translateX(0);}    
    10%, 30%, 50%, 70%, 90% {-webkit-transform: translateY(-10px);}  
    20%, 40%, 60%, 80% {-webkit-transform: translateY(10px);}  
} 
@-moz-keyframes shake {  
    0%, 100% {-moz-transform: translateY(0);}  
    10%, 30%, 50%, 70%, 90% {-moz-transform: translateY(-10px);}  
    20%, 40%, 60%, 80% {-moz-transform: translateY(10px);}  
} 
.hide{
 display:none;  
}
#J_loading{   
  position: fixed;
  background-color: #000;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 999;
  display:block; 
}
.loading_img{
  margin-top:100px;
  background:url(../images/loading.gif) no-repeat center 10%;
  background-size:6%;
  width:100%;
  height:50px;
  display:block;  
}
.loading_text{
  width:100%; height:30px; display:block;color:#fff; overflow:hidden; text-align:center;
}
@media screen and (orientation: portrait) {
.landscape{
  display:none; 
}
  
}
@media screen and (orientation: landscape) {
.landscape{
  position: fixed;
  display: block;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 999;
  display:block; 
  background-color: #000;
  color: #fff;
} 
.landscape .iphone {
  background-image: url(../images/iphone.png);
  background-repeat: no-repeat;
  width: 73px;
  height: 109px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -54px;
  margin-left: -36px;
  background-size: 73px 109px;
  animation: zhuan 1.5s;
  -moz-animation: zhuan 1.5s;
  -webkit-animation: zhuan 1.5s;
  -o-animation: zhuan 1.5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: 0.3s
}
.landscape .iphone_text {
  width: 173px;
  height: 29px;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: 71px;
  margin-left: -86px;
  color: #fff
}
.content {
  display: none
}

}

@media only screen and (max-width: 480px) and (min-width: 379px) {
.sprite1,.sprite2,.sprite3,.sprite4,.sprite5{
  font-size:24px;
  line-height:34px;
}
.sprite4 font{font-size:30px;line-height:46px;}
.btn-join{height:40px;line-height:40px;font-size:22px;margin-top:20px;}
}
@media only screen and (max-width:379px){
.sprite1,.sprite2,.sprite3,.sprite4,.sprite5{
  font-size:20px;
  line-height:28px;
  height: 100%;
}
.sprite4 font{font-size:26px;line-height:50px;}
.btn-join{height:40px;line-height:40px;font-size:18px;margin-top:15px;}
}
